<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> jobs for you! 
	<title></title>
</head>
<body>
	<h1>Welcome to our website</h1>
	<p>This website has two main functions. First, we have our <b>recommender</b> which provides a list of jobs based on specified criteria. Secondly, we have our <b>summarizer</b> which will provide a summary of the jobs in a specified field. What function is right for you? </p>
<form>
	<input type = button, value = "Recommender">
	<input type = button, value = "Summarizer">
</form>
</body>
</html>