<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <h1>Summarizer</h1>
        <img src="{{ user_image }}" alt="User Image">
    <p>Please Choose a Graph:</p>
<form action ="/role">
    <input type = "submit" value = "Salary by Role Graph">
    <input type = "submit" value = "Salary by Location Graph" 
formaction="/location">
    <input type = "submit" value = "Salary Density Graph" 
formaction="/summary">
</form>
    <p>Please Choose a Data Table:</p>
<form action="/role/table">
    <input type = "submit" value = "Role Data Table">
    <input type = "submit" value = "Location Data Table" 
formaction="/location/table">
    <input type = "submit" value = "Skill Data Table" formaction="/skill">
</form>
    <p>Thanks for using the <b>Summarizer</b>! </p>
<form action="/home">
    <input type = "submit" value = "Home" formaction="/home">
</form>
</body>
</html>
